<div class="ui centered grid">
  <div class="ui form">
    <div class="fields">
      <div class="required field">
        <label>Common Name</label>
        {{input value=commonName type="text" placeholder="Common Name"}}
      </div>
      <div class="field">
        <label>Genus</label>
        {{input value=genus type="text" placeholder="Genus"}}
      </div>
      <div class="field">
        <label>Species</label>
        {{input value=species type="text" placeholder="Species"}}
      </div>
      <div class="field">
        <label>Trinimial</label>
        {{input value=trinimial type="text" placeholder="Trinimial"}}
      </div>
    </div>
    <div class="fields">
      <div class="field">
        <label>Fertilization Comments</label>
        {{textarea value=fertilizationComments }}
      </div>
      <div class="field">
        <label>Month(s)</label>
        {{#ui-dropdown class="fluid multiple selection" selected=months onChange=(action (mut months))}}
          <i class="dropdown icon"></i>
          <div class="default text">Select Month(s)</div>
          <div class="menu">
              <div class="item" data-value="1">January</div>
              <div class="item" data-value="2">February</div>
              <div class="item" data-value="3">March</div>
              <div class="item" data-value="4">April</div>
              <div class="item" data-value="5">May</div>
              <div class="item" data-value="6">June</div>
              <div class="item" data-value="7">July</div>
              <div class="item" data-value="8">August</div>
              <div class="item" data-value="9">September</div>
              <div class="item" data-value="10">October</div>
              <div class="item" data-value="11">November</div>
              <div class="item" data-value="12">December</div>
          </div>
        {{/ui-dropdown}}
      </div>
    </div>
    <button class="ui labeled icon button" type="submit" {{action "createPlant"}}><i class="save icon"></i>Create Plant</button>
  </div>
</div>
